<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CasaMia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProgettoSettimanale1_U2.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="wrapper">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CasaMia</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Anagrafiche" asp-action="Index">Anagrafiche</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Verbali" asp-action="Index">Verbali</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="TipiViolazione" asp-action="Index">Violazioni</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Report" asp-action="Index">Report</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-center bg-dark text-white py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h5>CasaMia</h5>
                    <p>&copy; 2025 CasaMia - Tutti i diritti riservati.</p>
                </div>
                <div class="col-md-4">
                    <h5>Contatti</h5>
                    <p>Email: <a href="mailto:info@casamia.com" class="text-white">info@casamia.com</a></p>
                    <p>Telefono: +39 123 456 789</p>
                    <p>Indirizzo: Via Roma, 123, 20100 Milano</p>
                </div>
                <div class="col-md-4">
                    <h5>Link Utili</h5>
                    <ul class="list-unstyled">
                        <li><a href="@Url.Action("Index", "Home")" class="text-white">Home</a></li>
                        <li><a href="@Url.Action("Privacy", "Home")" class="text-white">Privacy</a></li>
                        <li><a href="@Url.Action("Termini", "Home")" class="text-white">Termini e Condizioni</a></li>
                        <li><a href="@Url.Action("Support", "Home")" class="text-white">Supporto</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <p>Progetto Settimanale - Sito Web di Prova</p>
                <p class="mb-0">&copy; 2025 CasaMia - Provincia Autonoma</p>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
